data_xsd_v1.5.3/entity/vesselprediction/AIArcVesselPrediction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.  Based on EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18] 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/vesselprediction/" xmlns:vesselprediction="http://www.cise.eu/datamodel/v1/entity/vesselprediction/" xmlns:vessel="http://www.cise.eu/datamodel/v1/entity/vessel/">
 <xs:import namespace="http://www.cise.eu/datamodel/v1/entity/vessel/" schemaLocation="../vessel/Vessel.xsd"/>
 <xs:complexType name="AIArcVesselPrediction">
  <xs:annotation>
   <xs:documentation>The class AIArcVesselPrediction is a new class defined by AI-ARC project. It's a sub-class of the class Vessel and is related to the vessel traffic prediction service</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="vessel:Vessel">
    <xs:sequence>
     <xs:element name="PredictionAccuracy" type="xs:double" minOccurs="0"/>
     <xs:element name="ExplanationMessage" type="xs:string" minOccurs="0"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>