data_xsd_v1.5.3/entity/movement/Movement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:16]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/movement/"
		xmlns:movement="http://www.cise.eu/datamodel/v1/entity/movement/"
		xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/event/" schemaLocation="../event/Event.xsd"/>
	<xs:include schemaLocation="MovementType.xsd"/>
	<xs:complexType name="Movement">
		<xs:annotation>
			<xs:documentation>It is a subclass of event. The Movement entity is linked to Voyage. Movement can be actual (e.g. current position, heading and speed), Historical data or planned in the future and can also be expressed taking into account other entities as location, object, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="event:Event">
				<xs:sequence>
					<xs:element name="MovementType" type="movement:MovementType"  minOccurs="0" />
					<xs:element name="Purpose" type="xs:string"  minOccurs="0" />
					<xs:element name="VoyageNumber" type="xs:string"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
