data_xsd_v1.5.3/entity/event/Event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:15]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/event/"
		xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/"
		xmlns:agent="http://www.cise.eu/datamodel/v1/entity/agent/"
		xmlns:document="http://www.cise.eu/datamodel/v1/entity/document/"
		xmlns:entity="http://www.cise.eu/datamodel/v1/entity/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:metadata="http://www.cise.eu/datamodel/v1/entity/metadata/"
		xmlns:object="http://www.cise.eu/datamodel/v1/entity/object/"
		xmlns:period="http://www.cise.eu/datamodel/v1/entity/period/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		xmlns:risk="http://www.cise.eu/datamodel/v1/entity/risk/"
		xmlns:uniqueidentifier="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/" schemaLocation="../Entity.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/period/" schemaLocation="../period/Period.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/" schemaLocation="../uniqueidentifier/UniqueIdentifier.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/location/" schemaLocation="../location/Location.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/metadata/" schemaLocation="../metadata/Metadata.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/risk/" schemaLocation="../risk/Risk.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/object/" schemaLocation="../object/SourceType.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/object/" schemaLocation="../object/Object.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/document/" schemaLocation="../document/Document.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/Agent.xsd"/>
	<xs:include schemaLocation="EventAreaType.xsd"/>
	<xs:include schemaLocation="ObjectRoleInEventType.xsd"/>
	<xs:include schemaLocation="NatureType.xsd"/>
	<xs:include schemaLocation="AgentRoleInEventType.xsd"/>
	<xs:include schemaLocation="LocationRoleInEventType.xsd"/>
	<xs:include schemaLocation="Event.xsd"/>
	<xs:include schemaLocation="EventRoleInEventType.xsd"/>
	<xs:complexType name="Event" abstract="true">
		<xs:annotation>
			<xs:documentation>The Event is one of the core entities of the overall data model of the information sharing environment. It is an entity which holds information about movements, anomalies, incidents or actions which occur in the maritime domain. Event can have relationships with other events, objects, agents, documents, periods and locations. Event can also be related to risks in different roles. Event is an abstract entity which has four sub-entities: Movement, Anomaly, Incident and Action.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="entity:Entity">
				<xs:sequence>
					<xs:element name="Identifier" type="uniqueidentifier:UniqueIdentifier"  minOccurs="0" />
					<xs:element name="Metadata" type="metadata:Metadata"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="NatureType" type="event:NatureType"  minOccurs="0" />
					<xs:element name="OccurrencePeriod" type="period:Period"  minOccurs="0" />
					<xs:element name="InvolvedWithRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Event" type="event:Event" minOccurs="0"/>
										<xs:element name="EventRole" type="event:EventRoleInEventType"  minOccurs="0" />
										<xs:element name="InvolvementPeriod" type="period:Period"  minOccurs="0" />
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ImpliedRiskRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Risk" type="risk:Risk" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LocationRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Location" type="location:Location" minOccurs="0"/>
										<xs:element name="DateTime" type="period:Period"  minOccurs="0" />
										<xs:element name="EventArea" type="event:EventAreaType"  minOccurs="0" />
										<xs:element name="LocationRole" type="event:LocationRoleInEventType"  minOccurs="0" />
										<xs:element name="SourceType" type="object:SourceType"  minOccurs="0" />
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InvolvedObjectRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Object" type="object:Object" minOccurs="0"/>
										<xs:element name="ObjectRole" type="event:ObjectRoleInEventType"  minOccurs="0" />
										<xs:element name="InvolvementPeriod" type="period:Period"  minOccurs="0" />
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="DocumentRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Document" type="document:Document" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InvolvedAgentRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Agent" type="agent:Agent" minOccurs="0"/>
										<xs:element name="AgentRole" type="event:AgentRoleInEventType"  minOccurs="0" />
										<xs:element name="InvolvementPeriod" type="period:Period"  minOccurs="0" />
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
