data_xsd_v1.5.3/entity/cargo/Cargo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:13]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/cargo/"
		xmlns:cargo="http://www.cise.eu/datamodel/v1/entity/cargo/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:include schemaLocation="CargoUnit.xsd"/>
	<xs:include schemaLocation="CargoType.xsd"/>
	<xs:complexType name="Cargo">
		<xs:annotation>
			<xs:documentation>A Cargo refers to a set of goods transported by a ship between two ports.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cargo:CargoUnit">
				<xs:sequence>
					<xs:element name="CargoType" type="cargo:CargoType"  minOccurs="0" />
					<xs:element name="ContainedCargoUnitRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="CargoUnit" type="cargo:CargoUnit" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
