data_xsd_v1.5.3/entity/cargo/Catch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:13]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/cargo/"
		xmlns:cargo="http://www.cise.eu/datamodel/v1/entity/cargo/"
		>
	<xs:include schemaLocation="CargoUnit.xsd"/>
	<xs:include schemaLocation="WeightMeansType.xsd"/>
	<xs:complexType name="Catch">
		<xs:annotation>
			<xs:documentation>A Catch refers to a set of distinct species catch in the see/ocean by a fishing vessel. Catch has the same associations and relationships than its parent-class Object. Thus it can have relationship with Document, Risk, Event, Location, and Agent.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cargo:CargoUnit">
				<xs:sequence>
					<xs:element name="CatchWeight" type="xs:double"  minOccurs="0" />
					<xs:element name="FishNumber" type="xs:int"  minOccurs="0" />
					<xs:element name="NetHeld" type="xs:double"  minOccurs="0" />
					<xs:element name="QuantityHeld" type="xs:double"  minOccurs="0" />
					<xs:element name="SizeDeclaration" type="xs:double"  minOccurs="0" />
					<xs:element name="Species" type="xs:string"  minOccurs="0" />
					<xs:element name="TotalNumber" type="xs:int"  minOccurs="0" />
					<xs:element name="TotalWeight" type="xs:double"  minOccurs="0" />
					<xs:element name="WeightMeans" type="cargo:WeightMeansType"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
