data_xsd_v1.5.3/entity/cargo/ContainmentUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:14]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/cargo/"
		xmlns:cargo="http://www.cise.eu/datamodel/v1/entity/cargo/"
		>
	<xs:include schemaLocation="CargoUnit.xsd"/>
	<xs:include schemaLocation="PackageType.xsd"/>
	<xs:include schemaLocation="UnitsOfMeasureType.xsd"/>
	<xs:include schemaLocation="PackagingMaterialType.xsd"/>
	<xs:include schemaLocation="DangerousSubstancesType.xsd"/>
	<xs:include schemaLocation="PollutionCodeType.xsd"/>
	<xs:include schemaLocation="PackingGroupCodeType.xsd"/>
	<xs:include schemaLocation="CommunityStatusType.xsd"/>
	<xs:complexType name="ContainmentUnit">
		<xs:annotation>
			<xs:documentation>Containment unit is an entity which holds information about units of goods when transported by ships contained in containers or bulk.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cargo:CargoUnit">
				<xs:sequence>
					<xs:element name="CommunityStatusOfGoods" type="cargo:CommunityStatusType"  minOccurs="0" />
					<xs:element name="ContainerMarksAndNumber" type="xs:string"  minOccurs="0" />
					<xs:element name="DangerousSubstancesCode" type="cargo:DangerousSubstancesType"  minOccurs="0" />
					<xs:element name="FlashPoint" type="xs:double"  minOccurs="0" />
					<xs:element name="GrossQuantity" type="xs:double"  minOccurs="0" />
					<xs:element name="LocationOnBoardContainer" type="xs:string"  minOccurs="0" />
					<xs:element name="LocationOnBoardGoods" type="xs:string"  minOccurs="0" />
					<xs:element name="NetQuantity" type="xs:double"  minOccurs="0" />
					<xs:element name="OtherMarksAndNumber" type="xs:string"  minOccurs="0" />
					<xs:element name="PackageType" type="cargo:PackageType"  minOccurs="0" />
					<xs:element name="PackagingMaterial" type="cargo:PackagingMaterialType"  minOccurs="0" />
					<xs:element name="PackingGroupCode" type="cargo:PackingGroupCodeType"  minOccurs="0" />
					<xs:element name="PollutionCode" type="cargo:PollutionCodeType"  minOccurs="0" />
					<xs:element name="UNDG" type="xs:string"  minOccurs="0" />
					<xs:element name="UnitsOfMeasure" type="cargo:UnitsOfMeasureType"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
