data_xsd_v1.5.3/entity/anomaly/AA_Anomaly.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:13]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/anomaly/" xmlns:anomaly="http://www.cise.eu/datamodel/v1/entity/anomaly/" xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/">
 <xs:import namespace="http://www.cise.eu/datamodel/v1/entity/event/" schemaLocation="../event/Event.xsd"/>
 <xs:include schemaLocation="AnomalyType.xsd"/>
 <xs:include schemaLocation="AA_ConfidenceType.xsd"/>
 <xs:include schemaLocation="AA_PriorityType.xsd"/>
 <xs:include schemaLocation="AA_AnomalyType.xsd"/>
 <xs:complexType name="Anomaly">
  <xs:annotation>
   <xs:documentation>The class AA_Anomaly is a new class defined by AI-ARC project. It's a sub-class of the class Event. An anomaly is used to characterize an unusual event which deserves to be noted or reported. Anomaly has the same associations and relationships than its parent-class Event. Thus it can have relationship with Document, Risk, Event, Object, Period, Location, and Agent.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="event:Event">
    <xs:sequence>
     <xs:element name="AnomalyType" type="anomaly:AnomalyType" minOccurs="0"/>
     <xs:element name="Confidence" type="incident:Confidence" minOccurs="0"/>
     <xs:element name="PriorityLevel" type="incident:PriorityLevel" minOccurs="0"/>
     <xs:element name="AA_AnomalyType" type="anomaly:AA_AnomalyType" minOccurs="0"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>
