data_xsd_v1.5.3/entity/anomaly/AIArcAnomaly.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.  Based on EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18] 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/anomaly/" xmlns:anomaly="http://www.cise.eu/datamodel/v1/entity/anomaly/" xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/" xmlns:incident="http://www.cise.eu/datamodel/v1/entity/incident/">
 <xs:import namespace="http://www.cise.eu/datamodel/v1/entity/event/" schemaLocation="../event/Event.xsd"/>
 <xs:import namespace="http://www.cise.eu/datamodel/v1/entity/incident/" schemaLocation="../incident/AIArcConfidenceLevelType.xsd"/>
 <xs:import namespace="http://www.cise.eu/datamodel/v1/entity/incident/" schemaLocation="../incident/AIArcPriorityLevelType.xsd"/>
 <xs:include schemaLocation="AIArcAnomalyType.xsd"/>
 <xs:complexType name="AIArcAnomaly">
  <xs:annotation>
   <xs:documentation>The class AIArcAnomaly is a new class defined by AI-ARC project. It's a sub-class of the class Event. An anomaly is used to characterize an unusual event which deserves to be noted or reported. Anomaly has the same associations and relationships than its parent-class Event. Thus it can have relationship with Document, Risk, Event, Object, Period, Location, and Agent.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="event:Event">
    <xs:sequence>
     <xs:element name="ConfidenceLevelType" type="incident:AIArcConfidenceLevelType" minOccurs="0"/>
     <xs:element name="PriorityLevelType" type="incident:AIArcPriorityLevelType" minOccurs="0"/>
     <xs:element name="AnomalyType" type="anomaly:AIArcAnomalyType" minOccurs="0"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>
