data_xsd_v1.5.3/entity/person/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:17]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/person/"
		xmlns:person="http://www.cise.eu/datamodel/v1/entity/person/"
		xmlns:agent="http://www.cise.eu/datamodel/v1/entity/agent/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/Agent.xsd"/>
	<xs:include schemaLocation="GenderType.xsd"/>
	<xs:include schemaLocation="PersonIdentifier.xsd"/>
	<xs:complexType name="Person">
		<xs:annotation>
			<xs:documentation>The Person Class is a sub class of the more general &apos;Agent&apos; class that encompasses organizations, legal entities, groups etc. - any entity that is able to carry out actions. The data type properties of the Person class do not have any cardinality restrictions and as such all are optional. However, guidance is provided for the usage of each property in the following sections.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="agent:Agent">
				<xs:sequence>
					<xs:element name="AlternativeName" type="xs:string"  minOccurs="0" />
					<xs:element name="BirthDate" type="xs:date"  minOccurs="0" />
					<xs:element name="BirthName" type="xs:string"  minOccurs="0" />
					<xs:element name="DateOfDeath" type="xs:dateTime"  minOccurs="0" />
					<xs:element name="FamilyName" type="xs:string"  minOccurs="0" />
					<xs:element name="FullName" type="xs:string"  minOccurs="0" />
					<xs:element name="Gender" type="person:GenderType"  minOccurs="0" />
					<xs:element name="GivenName" type="xs:string"  minOccurs="0" />
					<xs:element name="PatronymicName" type="xs:string"  minOccurs="0" />
					<xs:element name="PersonIdentifiers" type="person:PersonIdentifier"  minOccurs="0"  maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
