data_xsd_v1.5.3/entity/person/PersonIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/person/"
		xmlns:person="http://www.cise.eu/datamodel/v1/entity/person/"
		>
	<xs:include schemaLocation="PersonIdentificationType.xsd"/>
	<xs:complexType name="PersonIdentifier">
		<xs:annotation>
			<xs:documentation>The PersonIdentifier class allows the identification of the Person by means of a document of given type and related id number, according to the different countries policy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentifierType" type="person:PersonIdentificationType"  minOccurs="0" />
			<xs:element name="IdentifierValue" type="xs:string"  minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
