data_xsd_v1.5.3/entity/document/AttachedDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:14]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/document/"
		xmlns:document="http://www.cise.eu/datamodel/v1/entity/document/"
		>
	<xs:include schemaLocation="Document.xsd"/>
	<xs:complexType name="AttachedDocument" abstract="true">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="document:Document">
				<xs:sequence>
					<xs:element name="Content" type="xs:base64Binary"  minOccurs="0" />
					<xs:element name="Hash" type="xs:hexBinary"  minOccurs="0" />
					<xs:element name="ReferenceURI" type="xs:anyURI"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
