data_xsd_v1.5.3/entity/document/Document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:14]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/document/"
		xmlns:document="http://www.cise.eu/datamodel/v1/entity/document/"
		xmlns:entity="http://www.cise.eu/datamodel/v1/entity/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:metadata="http://www.cise.eu/datamodel/v1/entity/metadata/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		xmlns:uniqueidentifier="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/" schemaLocation="../Entity.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/metadata/" schemaLocation="../metadata/Metadata.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/" schemaLocation="../uniqueidentifier/UniqueIdentifier.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/location/" schemaLocation="../location/Location.xsd"/>
	<xs:complexType name="Document">
		<xs:annotation>
			<xs:documentation>The Document is one of the fundamental entities of the overall data model of the information sharing environment. A Document allows tracing and exchanging information in a persistent manner in almost any possible electronic format; this information is expected to provide details on and express specific associations between other Entity Classes such as Agents, Objects, Events, Risks, Locations etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="entity:Entity">
				<xs:sequence>
					<xs:element name="Identifier" type="uniqueidentifier:UniqueIdentifier"  minOccurs="0" />
					<xs:element name="Metadata" type="metadata:Metadata"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="Subject" type="xs:string"  minOccurs="0" />
					<xs:element name="Title" type="xs:string"  minOccurs="0" />
					<xs:element name="Version" type="xs:string"  minOccurs="0" />
					<xs:element name="LocationRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Location" type="location:Location" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
