data_xsd_v1.5.3/entity/uniqueidentifier/UniqueIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/"
		xmlns:uniqueidentifier="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/"
		xmlns:organization="http://www.cise.eu/datamodel/v1/entity/organization/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/organization/" schemaLocation="../organization/Organization.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:include schemaLocation="CorrelationType.xsd"/>
	<xs:include schemaLocation="UniqueIdentifier.xsd"/>
	<xs:complexType name="UniqueIdentifier">
		<xs:annotation>
			<xs:documentation>The Unique Identifier is a fundamental entity of the overall data model of the information sharing environment, since it will allow, as it name implies, to uniquely identify each and every single data object exchanged through the network. With this identifier it will also be possible for the legacy systems to keep trace of the relationships between their data objects and those from the information sharing environment. It will be possible to understand who and when is publishing each and every data object in the network.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GeneratedBy" type="organization:Organization"  minOccurs="0" />
			<xs:element name="GeneratedIn" type="xs:dateTime"  minOccurs="0" />
			<xs:element name="UUID" type="xs:string"  minOccurs="0" />
			<xs:element name="correlatedWithRel"  minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="rel:Relationship">
							<xs:sequence>
								<xs:element name="UniqueIdentifier" type="uniqueidentifier:UniqueIdentifier" minOccurs="0"/>
								<xs:element name="CorrelationType" type="uniqueidentifier:CorrelationType"  minOccurs="0" />
								<xs:element name="CorrelatedIn" type="xs:dateTime"  minOccurs="0" />
								<xs:element name="CorrelatedBy" type="organization:Organization"  minOccurs="0" />
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
