data_xsd_v1.5.3/entity/action/Action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:13]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/action/"
		xmlns:action="http://www.cise.eu/datamodel/v1/entity/action/"
		xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/event/" schemaLocation="../event/Event.xsd"/>
	<xs:include schemaLocation="ActionType.xsd"/>
	<xs:include schemaLocation="ActionStatusType.xsd"/>
	<xs:include schemaLocation="MissionType.xsd"/>
	<xs:include schemaLocation="ActionPriorityType.xsd"/>
	<xs:complexType name="Action">
		<xs:annotation>
			<xs:documentation>It is a subclass of Event. The Action entity may be linked to Incident, Anomaly and can also be expressed taking into account other entities as location, object, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="event:Event">
				<xs:sequence>
					<xs:element name="ActionStatus" type="action:ActionStatusType"  minOccurs="0" />
					<xs:element name="ActionType" type="action:ActionType"  minOccurs="0" />
					<xs:element name="Mission" type="action:MissionType"  minOccurs="0" />
					<xs:element name="Priority" type="action:ActionPriorityType"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
