data_xsd_v1.5.3/entity/operationalasset/OperationalAsset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:17]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/operationalasset/"
		xmlns:operationalasset="http://www.cise.eu/datamodel/v1/entity/operationalasset/"
		xmlns:entity="http://www.cise.eu/datamodel/v1/entity/"
		xmlns:metadata="http://www.cise.eu/datamodel/v1/entity/metadata/"
		xmlns:object="http://www.cise.eu/datamodel/v1/entity/object/"
		xmlns:period="http://www.cise.eu/datamodel/v1/entity/period/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		xmlns:uniqueidentifier="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/object/" schemaLocation="../object/Vehicle.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/" schemaLocation="../Entity.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/metadata/" schemaLocation="../metadata/Metadata.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/period/" schemaLocation="../period/Period.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/" schemaLocation="../uniqueidentifier/UniqueIdentifier.xsd"/>
	<xs:include schemaLocation="OperationalCapabilityType.xsd"/>
	<xs:include schemaLocation="OperationalAssetType.xsd"/>
	<xs:complexType name="OperationalAsset">
		<xs:annotation>
			<xs:documentation>An Operational Asset is an Object (in particular means of observation or transportation, but also including associated sensors, means of communication and means of intervention such as deterrence or neutralization of threats, fire fighting, pollution containment etc.) enabling operational Actions (most often at sea or on sea shores) of the Agents mandated by public Organizations in charge of Maritime Safety and Security.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="entity:Entity">
				<xs:sequence>
					<xs:element name="AvailabilityPeriod" type="period:Period"  minOccurs="0" />
					<xs:element name="Identifier" type="uniqueidentifier:UniqueIdentifier"  minOccurs="0" />
					<xs:element name="MaxPassengers" type="xs:int"  minOccurs="0" />
					<xs:element name="MaxSpeed" type="xs:double"  minOccurs="0" />
					<xs:element name="Metadata" type="metadata:Metadata"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="OperationalAssetType" type="operationalasset:OperationalAssetType"  minOccurs="0" />
					<xs:element name="OperationalCapability" type="operationalasset:OperationalCapabilityType"  minOccurs="0" />
					<xs:element name="Range" type="xs:double"  minOccurs="0" />
					<xs:element name="ReadinessState" type="xs:time"  minOccurs="0" />
					<xs:element name="CorrespondentVehicleRel"  minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Vehicle" type="object:Vehicle" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
