data_xsd_v1.5.3/entity/location/Geometry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:16]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		>
	<xs:complexType name="Geometry">
		<xs:annotation>
			<xs:documentation>This class allows the definition of Georeferenced areas.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Altitude" type="xs:string"  minOccurs="0" />
			<xs:element name="Latitude" type="xs:string"  minOccurs="0" />
			<xs:element name="Longitude" type="xs:string"  minOccurs="0" />
			<xs:element name="WKT" type="xs:string"  minOccurs="0" />
			<xs:element name="XMLGeometry" type="xs:string"  minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
