data_xsd_v1.5.3/entity/location/Location.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:16]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:entity="http://www.cise.eu/datamodel/v1/entity/"
		xmlns:metadata="http://www.cise.eu/datamodel/v1/entity/metadata/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/" schemaLocation="../Entity.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/metadata/" schemaLocation="../metadata/Metadata.xsd"/>
	<xs:include schemaLocation="Geometry.xsd"/>
	<xs:include schemaLocation="LocationQualitativeAccuracyType.xsd"/>
	<xs:include schemaLocation="OperationalPurposeType.xsd"/>
	<xs:include schemaLocation="LocationZoneType.xsd"/>
	<xs:complexType name="Location">
		<xs:annotation>
			<xs:documentation>Locations can be described in three principal ways: by using a place name, geometry or an address. The specific context will determine which method of describing a location is most appropriate. ISO 19112 defines a location as &quot;an identifiable geographic place&quot;. With this in mind, &quot;Eiffel Tower&quot;, &quot;Madrid&quot; and &quot;California&quot; are all locations and this is a common way of representing locations in public sector data, i.e. simply by using a recognized name. Such identifiers are common although they can be highly ambiguous as many places share the same or similar names.||In addition to a simple (string) label or name for a Location, the identifier property allows defining a Location by a Uniform Resource Identifier (URI), such as a GeoNames or DBpedia URI.||No cardinality constraints are placed on any property of the Location class so as to maximize flexibility.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="entity:Entity">
				<xs:sequence>
					<xs:element name="Geometry" type="location:Geometry"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="LocationQualitativeAccuracy" type="location:LocationQualitativeAccuracyType"  minOccurs="0" />
					<xs:element name="LocationZone" type="location:LocationZoneType"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="Metadata" type="metadata:Metadata"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="OperationalPurpose" type="location:OperationalPurposeType"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
