data_xsd_v1.5.3/entity/location/MeteoOceanographicCondition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:16]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:entity="http://www.cise.eu/datamodel/v1/entity/"
		xmlns:object="http://www.cise.eu/datamodel/v1/entity/object/"
		xmlns:period="http://www.cise.eu/datamodel/v1/entity/period/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/" schemaLocation="../Entity.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/object/" schemaLocation="../object/SourceType.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/period/" schemaLocation="../period/Period.xsd"/>
	<xs:include schemaLocation="SeaConditionType.xsd"/>
	<xs:include schemaLocation="WeatherConditionType.xsd"/>
	<xs:include schemaLocation="CloudCoverType.xsd"/>
	<xs:include schemaLocation="TidesType.xsd"/>
	<xs:include schemaLocation="Location.xsd"/>
	<xs:complexType name="MeteoOceanographicCondition">
		<xs:annotation>
			<xs:documentation>This class allows the description of the meteorological oceanographic condition of a given Location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="entity:Entity">
				<xs:sequence>
					<xs:element name="AirTemperature" type="xs:double"  minOccurs="0" />
					<xs:element name="CloudCeiling" type="xs:int"  minOccurs="0" />
					<xs:element name="CloudCover" type="location:CloudCoverType"  minOccurs="0" />
					<xs:element name="Precipitation" type="xs:int"  minOccurs="0" />
					<xs:element name="ReferencePeriod" type="period:Period"  minOccurs="0" />
					<xs:element name="Salinity" type="xs:double"  minOccurs="0" />
					<xs:element name="SeaCondition" type="location:SeaConditionType"  minOccurs="0" />
					<xs:element name="SeaLevelPressure" type="xs:double"  minOccurs="0" />
					<xs:element name="SourceType" type="object:SourceType"  minOccurs="0" />
					<xs:element name="TidalCurrentDirection" type="xs:double"  minOccurs="0" />
					<xs:element name="TidalCurrentSpeed" type="xs:double"  minOccurs="0" />
					<xs:element name="Tides" type="location:TidesType"  minOccurs="0" />
					<xs:element name="Visibility" type="xs:double"  minOccurs="0" />
					<xs:element name="WaterTemperature" type="xs:double"  minOccurs="0" />
					<xs:element name="WaveDirection" type="xs:double"  minOccurs="0" />
					<xs:element name="WaveHeight" type="xs:double"  minOccurs="0" />
					<xs:element name="WeatherCondition" type="location:WeatherConditionType"  minOccurs="0" />
					<xs:element name="WindCurrentDirection" type="xs:double"  minOccurs="0" />
					<xs:element name="WindCurrentSpeed" type="xs:double"  minOccurs="0" />
					<xs:element name="LocationRel"  minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Location" type="location:Location" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
