data_xsd_v1.5.3/entity/location/NamedLocation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:16]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		>
	<xs:include schemaLocation="Location.xsd"/>
	<xs:complexType name="NamedLocation">
		<xs:annotation>
			<xs:documentation>Location with a given name.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="location:Location">
				<xs:sequence>
					<xs:element name="GeographicIdentifier" type="xs:anyURI"  minOccurs="0" />
					<xs:element name="GeographicName" type="xs:string"  minOccurs="0"  maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
