data_xsd_v1.5.3/entity/location/PortFacilityLocation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:16]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:vessel="http://www.cise.eu/datamodel/v1/entity/vessel/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/vessel/" schemaLocation="../vessel/ISPSSecurityLevelType.xsd"/>
	<xs:include schemaLocation="Location.xsd"/>
	<xs:complexType name="PortFacilityLocation">
		<xs:annotation>
			<xs:documentation>Location of one of the facilities contained in a port.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="location:Location">
				<xs:sequence>
					<xs:element name="PortFacilityName" type="xs:string"  minOccurs="0" />
					<xs:element name="PortFacilityNumber" type="xs:string"  minOccurs="0" />
					<xs:element name="PortSecurityLevel" type="vessel:ISPSSecurityLevelType"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
