data_xsd_v1.5.3/entity/surveillance/AIArcSurveillance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.  Based on EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18] 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/surveillance/" xmlns:surveillance="http://www.cise.eu/datamodel/v1/entity/surveillance/" xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/">
 <xs:import namespace="http://www.cise.eu/datamodel/v1/entity/event/" schemaLocation="../event/Event.xsd"/>
 <xs:include schemaLocation="AIArcSurveillanceType.xsd"/>
 <xs:complexType name="AIArcSurveillance">
  <xs:annotation>
   <xs:documentation>The class AIArcSurveillance is a new class defined by AI-ARC project. It's a sub-class of the class Event and is defined for the surveillance service.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="event:Event">
    <xs:sequence>
     <xs:element name="Name" type="String" minOccurs="0"/>
     <xs:element name="SurveillanceType" type="surveillance:AIArcSurveillanceType" minOccurs="0"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>
