data_xsd_v1.5.3/entity/metadata/Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:16]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/metadata/"
		xmlns:metadata="http://www.cise.eu/datamodel/v1/entity/metadata/"
		xmlns:agent="http://www.cise.eu/datamodel/v1/entity/agent/"
		xmlns:period="http://www.cise.eu/datamodel/v1/entity/period/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/period/" schemaLocation="../period/Period.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/Agent.xsd"/>
	<xs:include schemaLocation="InformationSensitivityDegreeType.xsd"/>
	<xs:include schemaLocation="InformationReliabilityLevelType.xsd"/>
	<xs:include schemaLocation="InformationSecurityClassificationType.xsd"/>
	<xs:include schemaLocation="FileMediaType.xsd"/>
	<xs:complexType name="Metadata">
		<xs:annotation>
			<xs:documentation>The class provides information about the properties of the data communicated through the system, excluding the content of the data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abstract" type="xs:string"  minOccurs="0" />
			<xs:element name="Comments" type="xs:string"  minOccurs="0" />
			<xs:element name="CreationDate" type="xs:dateTime"  minOccurs="0" />
			<xs:element name="Creator" type="agent:Agent"  minOccurs="0" />
			<xs:element name="Description" type="xs:string"  minOccurs="0" />
			<xs:element name="Designation" type="xs:string"  minOccurs="0" />
			<xs:element name="FileMediaType" type="metadata:FileMediaType"  minOccurs="0" />
			<xs:element name="FileSchema" type="xs:anyURI"  minOccurs="0" />
			<xs:element name="FileURI" type="xs:anyURI"  minOccurs="0" />
			<xs:element name="InformationReliabilityLevel" type="metadata:InformationReliabilityLevelType"  minOccurs="0" />
			<xs:element name="InformationSecurityClassification" type="metadata:InformationSecurityClassificationType"  minOccurs="0" />
			<xs:element name="InformationSensitivityDegree" type="metadata:InformationSensitivityDegreeType"  minOccurs="0" />
			<xs:element name="Language" type="xs:string"  minOccurs="0" />
			<xs:element name="PublicationDate" type="xs:dateTime"  minOccurs="0" />
			<xs:element name="Publisher" type="agent:Agent"  minOccurs="0" />
			<xs:element name="ValidityPeriod" type="period:Period"  minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
