data_xsd_v1.5.3/entity/validatorresult/AIArcValidatorResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.  Based on EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18] 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/validatorresult/" xmlns:validatorresult="http://www.cise.eu/datamodel/v1/entity/validatorresult/" xmlns:entity="http://www.cise.eu/datamodel/v1/entity/" xmlns:uniqueidentifier="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/">
 <xs:import namespace="http://www.cise.eu/datamodel/v1/entity/" schemaLocation="../Entity.xsd"/>
 <xs:import namespace="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/" schemaLocation="../uniqueidentifier/UniqueIdentifier.xsd"/>
 <xs:include schemaLocation="AIArcValidatorResult.xsd"/>
 <xs:complexType name="AIArcValidatorResult">
  <xs:annotation>
   <xs:documentation>The class AIArcValidatorResult is a new class defined by AI-ARC project. It's a sub-class of the class Entity and its goal is the verification of the messages format and data quality.</xs:documentation>
  </xs:annotation>
  <xs:complexContent>
   <xs:extension base="entity:Entity">
    <xs:sequence>
     <xs:element name="Identifier" type="uniqueidentifier:UniqueIdentifier" />
     <xs:element name="MessageIdentifier" type="uniqueidentifier:UniqueIdentifier" />
     <xs:element name="ValidatorResult" type="xs:boolean" />
     <xs:element name="ValidatorErrorType" type="validatorresult:AIArcValidatorErrorType" minOccurs="0"/>
     <xs:element name="ValidationMessage" type="xs:string" minOccurs="0"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>
