data_xsd_v1.5.3/entity/organization/OrganizationalCollaboration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:17]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/organization/"
		xmlns:organization="http://www.cise.eu/datamodel/v1/entity/organization/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:include schemaLocation="Organization.xsd"/>
	<xs:complexType name="OrganizationalCollaboration">
		<xs:annotation>
			<xs:documentation>The sub-class OrganizationalCollaboration is defined to describe a collaboration between two or more Organizations such as a project. OrganizationalCollaboration meets the criteria for being an Organization in that it has an identity and defined purpose independent of its particular members but is neither a formally recognized legal entity nor a sub-unit within some larger organization. Might typically have a shorter lifetime than the Organizations within it, but not necessarily.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="organization:Organization">
				<xs:sequence>
					<xs:element name="ParticipantRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Organization" type="organization:Organization" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
