data_xsd_v1.5.3/entity/organization/Organization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:17]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/organization/"
		xmlns:organization="http://www.cise.eu/datamodel/v1/entity/organization/"
		xmlns:agent="http://www.cise.eu/datamodel/v1/entity/agent/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/Agent.xsd"/>
	<xs:include schemaLocation="OrganizationRoleType.xsd"/>
	<xs:include schemaLocation="OrganizationPurposeType.xsd"/>
	<xs:include schemaLocation="OrganizationClassificationType.xsd"/>
	<xs:complexType name="Organization">
		<xs:annotation>
			<xs:documentation>The class Organization is a sub-class of an abstract class Agent. Organization represents a structured and legally recognized association of humans and material resources for some common purpose or reason for existence which goes beyond the set of people belonging to it. An organization may itself be involved as actor or target in the various events and activities. Organization can have the same associations and relationships than the parent-class Agent. Thus it can have relationship with other agents, objects and locations or it can be related to risks in different roles. Organization has four sub-classes: OrganizationalUnit, PortOrganization, FormalOrganization and OrganizationalCollaboration.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="agent:Agent">
				<xs:sequence>
					<xs:element name="AlternativeName" type="xs:string"  minOccurs="0" />
					<xs:element name="IdentificationNumber" type="xs:string"  minOccurs="0" />
					<xs:element name="LegalName" type="xs:string"  minOccurs="0" />
					<xs:element name="OrganizationClassification" type="organization:OrganizationClassificationType"  minOccurs="0" />
					<xs:element name="OrganizationPurpose" type="organization:OrganizationPurposeType"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="OrganizationRole" type="organization:OrganizationRoleType"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
