data_xsd_v1.5.3/entity/object/Object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:17]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/object/"
		xmlns:object="http://www.cise.eu/datamodel/v1/entity/object/"
		xmlns:agent="http://www.cise.eu/datamodel/v1/entity/agent/"
		xmlns:document="http://www.cise.eu/datamodel/v1/entity/document/"
		xmlns:entity="http://www.cise.eu/datamodel/v1/entity/"
		xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:metadata="http://www.cise.eu/datamodel/v1/entity/metadata/"
		xmlns:period="http://www.cise.eu/datamodel/v1/entity/period/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		xmlns:risk="http://www.cise.eu/datamodel/v1/entity/risk/"
		xmlns:uniqueidentifier="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/AgentRoleInObjectType.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/" schemaLocation="../Entity.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/DutyType.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/period/" schemaLocation="../period/Period.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/" schemaLocation="../uniqueidentifier/UniqueIdentifier.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/location/" schemaLocation="../location/Location.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/metadata/" schemaLocation="../metadata/Metadata.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/risk/" schemaLocation="../risk/Risk.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/event/" schemaLocation="../event/ObjectRoleInEventType.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/event/" schemaLocation="../event/Event.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/document/" schemaLocation="../document/Document.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/Agent.xsd"/>
	<xs:include schemaLocation="SensorType.xsd"/>
	<xs:include schemaLocation="LocationRoleType.xsd"/>
	<xs:include schemaLocation="PlacementPurposeType.xsd"/>
	<xs:include schemaLocation="SourceType.xsd"/>
	<xs:include schemaLocation="PlannedOperationsType.xsd"/>
	<xs:include schemaLocation="PlannedWorksType.xsd"/>
	<xs:include schemaLocation="ColourType.xsd"/>
	<xs:complexType name="Object" abstract="true">
		<xs:annotation>
			<xs:documentation>The Object entity is one of the core entities of the overall data model. It is an abstract entity (it cannot been used as such) that holds information about physical entities from the maritime domain like vehicles (vessels, aircrafts and land vehicles) and cargo. Object has relationships with Event, Agent, Document, Risk and Location. Object can also be associated with another Object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="entity:Entity">
				<xs:sequence>
					<xs:element name="Colour" type="object:ColourType"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="ExternalMarkings" type="xs:string"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="Identifier" type="uniqueidentifier:UniqueIdentifier"  minOccurs="0" />
					<xs:element name="Metadata" type="metadata:Metadata"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="Name" type="xs:string"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="InvolvedRiskRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Risk" type="risk:Risk" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LocationRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Location" type="location:Location" minOccurs="0"/>
										<xs:element name="COG" type="xs:double"  minOccurs="0" />
										<xs:element name="Heading" type="xs:double"  minOccurs="0" />
										<xs:element name="Metadata" type="metadata:Metadata"  minOccurs="0"  maxOccurs="unbounded"/>
										<xs:element name="PeriodOfTime" type="period:Period"  minOccurs="0" />
										<xs:element name="SourceType" type="object:SourceType"  minOccurs="0" />
										<xs:element name="PlacementPurpose" type="object:PlacementPurposeType"  minOccurs="0" />
										<xs:element name="PlannedOperations" type="object:PlannedOperationsType"  minOccurs="0"  maxOccurs="unbounded"/>
										<xs:element name="PlannedWorks" type="object:PlannedWorksType"  minOccurs="0" />
										<xs:element name="SensorType" type="object:SensorType"  minOccurs="0" />
										<xs:element name="SOG" type="xs:double"  minOccurs="0" />
										<xs:element name="SpecialSecurityMeasures" type="xs:string"  minOccurs="0" />
										<xs:element name="Speed" type="xs:double"  minOccurs="0" />
										<xs:element name="LocationRole" type="object:LocationRoleType"  minOccurs="0" />
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InvolvedEventRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Event" type="event:Event" minOccurs="0"/>
										<xs:element name="ObjectRole" type="event:ObjectRoleInEventType"  minOccurs="0" />
										<xs:element name="InvolvementPeriod" type="period:Period"  minOccurs="0" />
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="DocumentRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Document" type="document:Document" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InvolvedAgentRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Agent" type="agent:Agent" minOccurs="0"/>
										<xs:element name="AgentRole" type="agent:AgentRoleInObjectType"  minOccurs="0" />
										<xs:element name="Duty" type="agent:DutyType"  minOccurs="0" />
										<xs:element name="InvolvementPeriod" type="period:Period"  minOccurs="0" />
										<xs:element name="TransitPassenger" type="xs:boolean"  minOccurs="0" />
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
