data_xsd_v1.5.3/entity/object/Vehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:17]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/object/"
		xmlns:object="http://www.cise.eu/datamodel/v1/entity/object/"
		xmlns:cargo="http://www.cise.eu/datamodel/v1/entity/cargo/"
		xmlns:operationalasset="http://www.cise.eu/datamodel/v1/entity/operationalasset/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/operationalasset/" schemaLocation="../operationalasset/OperationalAsset.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/cargo/" schemaLocation="../cargo/Cargo.xsd"/>
	<xs:include schemaLocation="Vehicle.xsd"/>
	<xs:include schemaLocation="Object.xsd"/>
	<xs:complexType name="Vehicle" abstract="true">
		<xs:annotation>
			<xs:documentation>The Vehicle is a sub-class of Object and is used to determine types of physical moving objects related to maritime. The class Vehicle inherits the attributes and relationships of Object. Vehicle has three sub-classes: Vessel, Aircraft and LandVehicle.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="object:Object">
				<xs:sequence>
					<xs:element name="MaximumSpeed" type="xs:double"  minOccurs="0" />
					<xs:element name="Nationality" type="xs:string"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="TotalPersonsOnBoard" type="xs:int"  minOccurs="0" />
					<xs:element name="CorrespondentAssetRel"  minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="OperationalAsset" type="operationalasset:OperationalAsset" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="VehiclesRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Vehicle" type="object:Vehicle" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="CargoRel"  minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Cargo" type="cargo:Cargo" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
