data_xsd_v1.5.3/entity/incident/AIArcConfidenceType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2022.  Based on EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18] 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/incident/" xmlns:incident="http://www.cise.eu/datamodel/v1/entity/incident/">
 <xs:include schemaLocation="AIArcPercentageType.xsd"/>
 <xs:include schemaLocation="AIArcConfidenceLevelType.xsd"/>
 <xs:complexType name="AIArcConfidenceType">
  <xs:annotation>
   <xs:documentation>The Confidence data type represents the probability of confidence value and the qualitative level of confidence for anomalies, risk or incidents, defined by the AI-ARC project. </xs:documentation>
  </xs:annotation>
  <xs:sequence>
   <xs:element name="Percentage" type="xs:double" minOccurs="0"/>
   <xs:element name="ConfidenceLevel" type="incident:AIArcConfidenceLevelType" minOccurs="0"/>
  </xs:sequence>
 </xs:complexType>
</xs:schema>
