data_xsd_v1.5.3/entity/incident/PollutionIncident.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:15]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/incident/"
		xmlns:incident="http://www.cise.eu/datamodel/v1/entity/incident/"
		>
	<xs:include schemaLocation="PollutionType.xsd"/>
	<xs:include schemaLocation="MaritimeSafetyIncident.xsd"/>
	<xs:complexType name="PollutionIncident">
		<xs:annotation>
			<xs:documentation>The PollutionIncident is a type of Maritime Safety Incident and is used to exchange specific information about pollution. The position and extend of the pollution can be described by the entity Location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="incident:MaritimeSafetyIncident">
				<xs:sequence>
					<xs:element name="AreaCoverPercentage" type="xs:string"  minOccurs="0" />
					<xs:element name="Characteristics" type="xs:string"  minOccurs="0" />
					<xs:element name="DriftCourse" type="xs:int"  minOccurs="0" />
					<xs:element name="DriftSpeed" type="xs:double"  minOccurs="0" />
					<xs:element name="PollutionType" type="incident:PollutionType"  minOccurs="0" />
					<xs:element name="Quantity" type="xs:double"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
