data_xsd_v1.5.3/entity/risk/Risk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/risk/"
		xmlns:risk="http://www.cise.eu/datamodel/v1/entity/risk/"
		xmlns:agent="http://www.cise.eu/datamodel/v1/entity/agent/"
		xmlns:document="http://www.cise.eu/datamodel/v1/entity/document/"
		xmlns:entity="http://www.cise.eu/datamodel/v1/entity/"
		xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/"
		xmlns:location="http://www.cise.eu/datamodel/v1/entity/location/"
		xmlns:metadata="http://www.cise.eu/datamodel/v1/entity/metadata/"
		xmlns:object="http://www.cise.eu/datamodel/v1/entity/object/"
		xmlns:period="http://www.cise.eu/datamodel/v1/entity/period/"
		xmlns:rel="http://www.cise.eu/datamodel/v1/relationship/"
		xmlns:uniqueidentifier="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/" schemaLocation="../Entity.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/AgentRoleInRiskType.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/period/" schemaLocation="../period/Period.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/uniqueidentifier/" schemaLocation="../uniqueidentifier/UniqueIdentifier.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/location/" schemaLocation="../location/Location.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/metadata/" schemaLocation="../metadata/Metadata.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/object/" schemaLocation="../object/Object.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/relationship/" schemaLocation="../../relationship/Relationship.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/event/" schemaLocation="../event/Event.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/document/" schemaLocation="../document/Document.xsd"/>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/agent/" schemaLocation="../agent/Agent.xsd"/>
	<xs:include schemaLocation="RiskSeverityType.xsd"/>
	<xs:include schemaLocation="RiskProbabilityType.xsd"/>
	<xs:include schemaLocation="RiskLevelType.xsd"/>
	<xs:include schemaLocation="RiskType.xsd"/>
	<xs:complexType name="Risk">
		<xs:annotation>
			<xs:documentation>The class Risk is used to represent a more or less probable situation involving exposure to danger concerning the maritime domain. The notion of risk is usually very subjective and, in a first step, we decided to keep the definition of the class simple in order to ease its adoption. Further work could be used to detail the risk definition and introduce metrics regarding probability and severity.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="entity:Entity">
				<xs:sequence>
					<xs:element name="Identifier" type="uniqueidentifier:UniqueIdentifier"  minOccurs="0" />
					<xs:element name="Metadata" type="metadata:Metadata"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="OccurrencePeriod" type="period:Period"  minOccurs="0" />
					<xs:element name="RiskLevel" type="risk:RiskLevelType"  minOccurs="0" />
					<xs:element name="RiskProbability" type="risk:RiskProbabilityType"  minOccurs="0" />
					<xs:element name="RiskSeverity" type="risk:RiskSeverityType"  minOccurs="0" />
					<xs:element name="RiskType" type="risk:RiskType"  minOccurs="0" />
					<xs:element name="InvolvedObjectRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Object" type="object:Object" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="LocationRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Location" type="location:Location" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ImpliedEventRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Event" type="event:Event" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="DocumentRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Document" type="document:Document" minOccurs="0"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="InvolvedAgentRel"  minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="rel:Relationship">
									<xs:sequence>
										<xs:element name="Agent" type="agent:Agent" minOccurs="0"/>
										<xs:element name="AgentRole" type="agent:AgentRoleInRiskType"  minOccurs="0" />
										<xs:element name="InvolvementPeriod" type="period:Period"  minOccurs="0" />
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
