data_xsd_v1.5.3/entity/period/Period.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:17]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/period/"
		xmlns:period="http://www.cise.eu/datamodel/v1/entity/period/"
		>
	<xs:complexType name="Period">
		<xs:annotation>
			<xs:documentation>The class Period is used to define a time interval which can be expressed by:||&lt;ul&gt;||	&lt;li&gt;only a duration (i.e. one month),&lt;/li&gt;||	&lt;li&gt;a duration and a start (resp. end) date [ex.: a period of ten days starting (resp. ending) on December 10th, 2002], in this case the period is assumed to start (resp. end) on December 10&lt;sup&gt;th&lt;/sup&gt; at 0:00 (resp. 23:59).&lt;/li&gt;||	&lt;li&gt;a duration and a start (resp. end) time [ex.: a period of ten days starting (resp. ending) at 10am],&lt;/li&gt;||	&lt;li&gt;a duration and start (resp. end) date and time (ex.: a period of ten days starting (resp. ending) on December 10th, 2002, 10am),&lt;/li&gt;||	&lt;li&gt;a start Date and an end Date (ex.: December 3rd, 2002 &amp;amp; January 24&lt;sup&gt;th&lt;/sup&gt; 2010),&lt;/li&gt;||	&lt;li&gt;a start Time and an end Time (ex.: 9am and 10pm),&lt;/li&gt;||	&lt;li&gt;a start date and start time following by an end date and end time (ex.: December 3&lt;sup&gt;rd&lt;/sup&gt;, 2002 at 10pm and January 24&lt;sup&gt;th&lt;/sup&gt;, 2010 at 9am).&lt;/li&gt;||&lt;/ul&gt;</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Duration" type="xs:duration"  minOccurs="0" />
			<xs:element name="EndDate" type="xs:date"  minOccurs="0" />
			<xs:element name="EndTime" type="xs:time"  minOccurs="0" />
			<xs:element name="StartDate" type="xs:date"  minOccurs="0" />
			<xs:element name="StartTime" type="xs:time"  minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
