data_xsd_v1.5.3/entity/vessel/Vessel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Generated by EC JRC XSD Generator v1.3.0-SNAPSHOT [model: 1.5.3 - gendate: 2017-05-29 10:38:18]
	For support, please contact: jrc-cise-dev@jrc.ec.europa.eu 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cise.eu/datamodel/v1/entity/vessel/"
		xmlns:vessel="http://www.cise.eu/datamodel/v1/entity/vessel/"
		xmlns:object="http://www.cise.eu/datamodel/v1/entity/object/"
		>
	<xs:import namespace="http://www.cise.eu/datamodel/v1/entity/object/" schemaLocation="../object/Vehicle.xsd"/>
	<xs:include schemaLocation="HullMaterialType.xsd"/>
	<xs:include schemaLocation="ShipConfigurationType.xsd"/>
	<xs:include schemaLocation="SanitaryMeasureType.xsd"/>
	<xs:include schemaLocation="ConditionOfTheCargoAndBallastType.xsd"/>
	<xs:include schemaLocation="ISPSSecurityLevelType.xsd"/>
	<xs:include schemaLocation="VesselType.xsd"/>
	<xs:include schemaLocation="FishingGearType.xsd"/>
	<xs:include schemaLocation="INFClassType.xsd"/>
	<xs:include schemaLocation="NavigationalStatusType.xsd"/>
	<xs:complexType name="Vessel">
		<xs:annotation>
			<xs:documentation>The class Vessel is a sub-class of the class Vehicle. A vessel refers to a ship or a boat. Vessel has the same associations and relationships than its parent-classes Vehicle and Object. Thus it can have relationship with Document, Risk, Event, Location, and Agent. It can also be associated with OperationalAsset.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="object:Vehicle">
				<xs:sequence>
					<xs:element name="Arrangement" type="xs:string"  minOccurs="0" />
					<xs:element name="Beam" type="xs:int"  minOccurs="0" />
					<xs:element name="Breadth" type="xs:int"  minOccurs="0" />
					<xs:element name="CallSign" type="xs:string"  minOccurs="0" />
					<xs:element name="ConditionOfTheCargoAndBallast" type="vessel:ConditionOfTheCargoAndBallastType"  minOccurs="0" />
					<xs:element name="ContainerCapacity" type="xs:int"  minOccurs="0" />
					<xs:element name="Deadweight" type="xs:int"  minOccurs="0" />
					<xs:element name="Depth" type="xs:double"  minOccurs="0" />
					<xs:element name="DesignSpeed" type="xs:double"  minOccurs="0" />
					<xs:element name="Draught" type="xs:double"  minOccurs="0" />
					<xs:element name="FishingGear" type="vessel:FishingGearType"  minOccurs="0" />
					<xs:element name="GrossTonnage" type="xs:double"  minOccurs="0" />
					<xs:element name="HullMaterial" type="vessel:HullMaterialType"  minOccurs="0" />
					<xs:element name="IMONumber" type="xs:long"  minOccurs="0" />
					<xs:element name="INFShipClass" type="vessel:INFClassType"  minOccurs="0" />
					<xs:element name="INMARSATNumber" type="xs:string"  minOccurs="0" />
					<xs:element name="IRNumber" type="xs:string"  minOccurs="0" />
					<xs:element name="ISPSSSecurityLevel" type="vessel:ISPSSecurityLevelType"  minOccurs="0" />
					<xs:element name="IsBanned" type="xs:boolean"  minOccurs="0" />
					<xs:element name="IsFishing" type="xs:boolean"  minOccurs="0" />
					<xs:element name="LOA" type="xs:double"  minOccurs="0" />
					<xs:element name="Length" type="xs:double"  minOccurs="0" />
					<xs:element name="LengthenedYear" type="xs:int"  minOccurs="0" />
					<xs:element name="MMSI" type="xs:long"  minOccurs="0" />
					<xs:element name="NavigationalStatus" type="vessel:NavigationalStatusType"  minOccurs="0" />
					<xs:element name="NetTonnage" type="xs:double"  minOccurs="0" />
					<xs:element name="RegionalIdentification" type="xs:string"  minOccurs="0" />
					<xs:element name="RegistryDate" type="xs:date"  minOccurs="0" />
					<xs:element name="RegistryNumber" type="xs:string"  minOccurs="0" />
					<xs:element name="SegregatedBallastVolume" type="xs:double"  minOccurs="0" />
					<xs:element name="ShipConfiguration" type="vessel:ShipConfigurationType"  minOccurs="0" />
					<xs:element name="ShipType" type="vessel:VesselType"  minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="UVI" type="xs:string"  minOccurs="0" />
					<xs:element name="UnderSanitaryMeasure" type="vessel:SanitaryMeasureType"  minOccurs="0" />
					<xs:element name="YearBuilt" type="xs:int"  minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
